<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header th:replace="fragments :: html_navbar"/>
<ul>
    <li th:each="person: ${persons}">
        <span th:text="${person.prenom}+' '+${person.nom}">Prénom Nom </span> <a href="#" th:href="@{'/person/'+${person.id}}">Edit</a>
        <a href="#" th:href="@{'/person/delete/'+${person.id}}">Supprimer</a>
    </li>
</ul>

<a href="#" th:href="@{'/person/add'}">Ajouter une personne</a><br/>

</body>
</html>
