<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>
<body>
<header th:replace="fragments :: html_navbar"/>
<form
    method="post"
    action="#"
    enctype="multipart/form-data"
    th:action="@{/person}"
    th:object="${person}">

    <input th:field="*{id}" type="hidden">
    <input th:field="*{photo}" type="hidden">

    Nom : <input th:field="*{nom}" type="text"><br/>
    Prenom : <input th:field="*{prenom}" type="text"><br/>
    Année de naissance : <input th:field="*{anneeNaissance}" type="number"><br/>
    Fichier photo : <input th:field="*{ficPhoto}" type ="file"><br>
    Photo : <img src="photo.jpg" th:src="@{'/img/person/'+*{id}}"><br/>
    <input type="submit" value="Valider"><br/>

</form>

</body>
</html>
